{% extends "master.twig" %}

{% block title %}Account Management{% endblock %}

{% block content %}
{% if user.leader %}
  <table>
  <tr>
    <th>Role</th>
    <th>User ID</th>
    <th>Name</th>
    <th>Duty Team</th>
    <th>Manage</th>
  </tr>
  {% for row in users %}
  <tr>
    <td class="userRole {{ row.Category }}">{{ row.Category }}</td>
    <td><strong>{{ row.UserID }}</strong></td>
    <td>{{ row.Name }}</td>
    <td>{{ row.DutyTeam }}</td>
    <td>
      <a href='/accounts/edit/{{ row.UserID }}#new'>Edit</a>
      {% if row.UserID != user.UserID %}
      | <a href='/accounts/delete/{{ row.UserID }}'>Delete</a>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  </table>

  <form method="POST" action="/accounts">
  {% if editing %}
    <h2 id="new">Editing User:</h2>
    <input type="hidden" name='action' value='edit'>
  {% else %}
    <h2 id="new">New User:</h2>
    <input type="hidden" name='action' value='new'>
  {% endif %}
  <input type="hidden" name='userID' value='<tag:edit-ID />'>
  <table class='formTable'>
    <tr>
      <th><label for="userIDinput">User ID:</label></th>
      <td><input type='text' name='userIDinput' id='userIDinput' size='6' value='{{ form.id }}' {{ editing ? 'disabled' : '' }}></td>
    </tr>
    <tr>
      <th><label for="name">Name:</label></th>
      <td><input type='text' name='name' id='name' value='{{ form.name }}'></td>
    </tr>
    <tr>
      <th><label for="category">Category:</label></th>
      <td>
        <select name='category' id="category">
          {% for category, selected in categories %}
          <option value='{{ category }}' {{ selected ? 'selected' : '' }}>{{ category | capitalize  }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    <tr>
      <th><label for="dutyteam">Duty Team:</label></th>
      <td><input type='text' name='dutyteam' id='dutyteam' value='{{ form.dutyteam }}' /></td>
    </tr>
    <tr>
      <th colspan="2" class="submitRow">
      <input type='button' value="Cancel" onclick="document.location = '/accounts'" />
      <input type='submit' value="{{ submit }}" />
      </th>
    </tr>
  </table>
  </form>
{% else %}
  You must be a leader to view this page.
{% endif %}
{% endblock %}
