{% extends "master.twig" %}

{% block title %}Account Management{% endblock %}

{% block content %}
<a href="/account-import">Import users from CSV</a>
<table class="progress">
<tr>
  <th>Username</th>
  <th>Name</th>
  <th>Small Group</th>
  <th>Role</th>
  <th>Controls</th>
</tr>
{% for row in users %}
<tr data-username="{{ row.username }}">
  <td><strong>{{ row.username }}</strong></td>
  <td>{{ row.name }}</td>
  <td>{{ row.smallGroup }}</td>
  <td class="userRole {{ row.role }}">
    {{ row.role | capitalize }}
  </td>
  <td>
    <button data-action="delete-user" {{ row.username == user.username ? 'disabled' : '' }}>Delete User</button>
  </td>
</tr>
{% endfor %}
</table>

<form method="POST" action="/accounts">
<h2>New User:</h2>
<table class='formTable'>
  <tr>
    <th><label for="username">Username:</label></th>
    <td>
      <input type='text' id='username' name="username" value="{{ form.username }}" placeholder="Required" required>
    </td>
  </tr>
  <tr>
    <th><label for="name">Name:</label></th>
    <td><input type='text' name='name' id='name' value='{{ form.name }}' placeholder="Required" required></td>
  </tr>
  <tr>
    <th><label for="role">Role:</label></th>
    <td>
      <select name='role' id="role">
        {% for role in roles %}
          <option value="{{ role }}" {{ form.role == role ? 'selected' : '' }}>{{ role | capitalize }}</option>
        {% endfor %}
      </select>
    </td>
  </tr>
  <tr>
    <th><label for="smallGroup">Small Group:</label></th>
    <td><input type='text' name='smallGroup' id='smallGroup' value='{{ form.smallGroup }}' placeholder="Optional"></td>
  </tr>
  <tr>
    <th colspan="2" class="submitRow">
      <input type='submit' value="Create User" />
    </th>
  </tr>
</table>
</form>
{% endblock %}
