{% extends "master.twig" %}

{% block head %}
  <script src='/resources/js/editor.js'></script>
{% endblock %}

{% block content %}

  {% if showAll %}

    {# List of questionnaires #}

    {% if questionnaires | length > 0 %}
      <table class="progress">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Pages</th>
          <th>Sections</th>
          <th>Questions</th>
          <th>Controls</th>
        </tr>
        {% for questionnaire in questionnaires %}
        <tr>
          <th>{{ questionnaire.id }}</th>
          <td><a href='/editor/{{ questionnaire.id }}'>{{ questionnaire.title }}</a></td>
          <td>{{ questionnaire.pages | length }}</td>
          <td>{{ questionnaire.sectionCount }}</td>
          <td>{{ questionnaire.questionCount }}</td>
          <td>
            <button data-action="duplicate" data-id="{{ questionnaire.id }}">Duplicate</button>
            <button data-action="delete" data-id="{{ questionnaire.id }}">Delete</button>
          </td>
        </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>There are currently no questionnaires.</p>
    {% endif %}
    <button data-action="create-questionnaire">Create new questionnaire</button>

  {% else %}

    <input type="hidden" id="questionnaire-id" value="{{ questionnaire.id }}" />

    {% if page %}

      {# Editing a single page in a questionnaire #}

      <div class="editor-workspace">
        <input type="hidden" id="page-number" value="{{ pageNumber }}" />
        <table class='progress'>
          <tr><th colspan="2">{{ questionnaire.title }}</th></tr>
          {% for pageRow in questionnaire.pages %}
            <tr>
              {% if loop.index == pageNumber %}
                <td>{{ loop.index }}. <strong>{{ pageRow.title }}</strong></td>
              {% else %}
                <td>{{ loop.index }}. <a href='/editor/{{ questionnaire.id }}/{{ loop.index }}'>{{ pageRow.title }}</td>
              {% endif %}
              <td>{{ pageRow.sections | length }} section{{ pageRow.sections | length == 1 ? '' : 's' }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="2"><a href='/editor/{{ questionnaire.id }}' style='color: maroon'>Back to the list of pages</a></td>
          </tr>
          <tr id="ajax-status" style="display: none;">
            <th colspan="2">saving data...</th>
          </tr>
        </table>
        <div class="editor-section" style="background: #dfeaea;">
          <input id="update-page-title" class="h2 invisible" placeholder="Page Title" value="{{ page.title }}" /><br>
          <textarea rows="1" id="update-page-intro" class="invisible" placeholder="Intro text that will be displayed at the top of the page. Supports HTML." style="width: 100%;">{{ page.intro }}</textarea>
        </div>
        <br>
        {% for section in page.sections %}
          <div class="editor-section">
            <div class="editor-section-controls">
              {% if not loop.first %}
              <button data-action="move-section" data-id="{{ loop.index0 }}" data-movement="-1">&uarr;</button>
              {% endif %}
              {% if not loop.last %}
              <button data-action="move-section" data-id="{{ loop.index0 }}" data-movement="1">&darr;</button>
              {% endif %}
              <button data-action="duplicate-section" data-id="{{ loop.index0 }}">Duplicate</button>
              <button data-action="delete-section" data-id="{{ loop.index0 }}">Delete</button><br>
              <label style="line-height: 3em;" class="help" title="Collapsible sections start collapsed and prompt the user to open them if relevant. Useful for electives.">
                <input data-action="section-collapsible" data-id="{{ loop.index0 }}" type="checkbox" {{ section.collapsible ? 'checked' : '' }}>
                Collapsible
              </label>
              <label style="line-height: 3em;" class="help" title="Turning off the border will also hide the section title. Useful for pages with only one section.">
                <input data-action="section-border" data-id="{{ loop.index0 }}" type="checkbox" {{ section.border ? 'checked' : '' }}>
                Border
              </label>
            </div>
            <input class="h3 invisible" placeholder="Section Title" value="{{ section.title }}" data-action="update-section-title" data-id="{{ loop.index0 }}" />
            <ul>
            {% for question in section.questions %}
              <li data-section="{{ loop.parent.loop.index0 }}" data-question="{{ question.id }}">
                {{ question.question }} <em>({{ question.answerType }})</em>
                &nbsp;<a data-action="delete-question">✕</a>
                {% if question.answerOptions %}
                  <br><small>{{ question.answerOptions | join('; ') }}</small>
                {% endif %}
              </li>
            {% endfor %}
            {% if section.comments and section.border %}
              <li>Any other comments?</li>
            {% endif %}
            </ul>
            <div>
              <input type="text" placeholder="Question text" required style="width: 300px;" />
              <select>
                {% for answerType in answerTypes %}
                <option value="{{ answerType }}">{{ answerType }}</option>
                {% endfor %}
              </select>
              <button data-action="add-question" data-id="{{ loop.index0 }}">Add question</button>
              <div style="display: none;">
                <ul>
                  <li><input type="text" placeholder="Answer option" /> <a data-action="delete-radio-box">✕</a></li>
                  <li><button data-action="add-radio-box">Add another option</button></li>
                </ul>
              </div>
            </div>
          </div>
          <br>
        {% endfor %}
        <button id="add-section">Add a new section</button><br style="clear: both;">
      </div>

    {% else %}

      {# Editing a questionnaires; viewing the list of pages #}

      <div class="editor-workspace">
        <div class="editor-section" style="background: #dfeaea;">
          <input id="update-title" class="h2 invisible" placeholder="Questionnaire Title" value="{{ questionnaire.title }}" /><br>
          <textarea id="update-intro" class="invisible" placeholder="Intro text that will be displayed before the first page of the questionnaire. Supports HTML." style="width: 100%;">{{ questionnaire.intro }}</textarea>
        </div>
      </div>

      {% if questionnaire.pages | length > 0 %}
        <table class="progress">
          <tr>
            <th>&nbsp;</th>
            <th>Page Title</th>
            <th>Sections</th>
            <th>Questions</th>
            <th>Controls</th>
          </tr>
          {% for page in questionnaire.pages %}
            <tr>
              <th>{{ loop.index }}</th>
              <td><a href='/editor/{{ questionnaire.id }}/{{ loop.index }}'>{{ page.title }}</a></td>
              <td>{{ page.sections | length }}</td>
              <td>{{ page.questionCount }}</td>
              <td>
                <button data-action="move-page" data-id="{{ loop.index }}" data-movement="-1">&uarr;</button>
                <button data-action="move-page" data-id="{{ loop.index }}" data-movement="1">&darr;</button>
                <button data-action="page-duplicate" data-id="{{ loop.index }}">Duplicate</button>
                <button data-action="page-delete" data-id="{{ loop.index }}">Delete</button>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>This questionnaire doesn't have any pages yet.</p>
      {% endif %}
      <button data-action="page-create">Create new page</button>
    {% endif %}
  {% endif %}
{% endblock %}
