{% extends "master.twig" %}

{% block head %}
  <script src='/resources/js/editor.js'></script>
{% endblock %}

{% block title %}Questionnaire Editor{% endblock %}

{% block content %}
  {% if showAll %}
    <table class="progress">
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Pages</th>
        <th>Groups</th>
        <th>Questions</th>
        <th>Controls</th>
      </tr>
      {% for questionnaire in questionnaires %}
      <tr>
        <th>{{ questionnaire.id }}</th>
        <td><a href='/editor/{{ questionnaire.id }}'>{{ questionnaire.title }}</a></td>
        <td>{{ questionnaire.pages | length }}</td>
        <td>{{ questionnaire.groups | length }}</td>
        <td>{{ questionnaire.questions | length }}</td>
        <td>
          <button data-action="duplicate" data-id="{{ questionnaire.id }}">Duplicate</button>
          <button data-action="delete" data-id="{{ questionnaire.id }}">Delete</button>
        </td>
      </tr>
      {% endfor %}
    </table>
    <button data-action="create-questionnaire">Create new questionnaire</button>
  {% else %}
    <h2>{{ questionnaire.title }}</h2>
    <input type="hidden" id="questionnaire-id" value="{{ questionnaire.id }}" />

    {% if page %}
      <table style='float: right;' class='progress'>
        <tr><th colspan="2">Questionnaire Pages:</th></tr>
        {% for pageRow in questionnaire.pages %}
          <tr>
            <td><a href='/editor/{{ questionnaire.id }}/{{ loop.index }}'>{{ loop.index }}. {{ pageRow.title }}</td>
            <td>{{ pageRow.questions | length }} question{{ pageRow.questions | length == 1 ? '' : 's' }}</td>
          </tr>
        {% endfor %}
          <tr><td colspan="2"><a href='/editor/{{ questionnaire.id }}' style='color: maroon'>Back to the editor</a></td></tr>
      </table>
      <h2>{{ page.title }}</h2>
    {% else %}
      <textarea id="intro-text-editor">{{ questionnaire.intro }}</textarea><br>
      <button id="save-intro-text">Save intro text</button>

      <table class="progress">
        <tr>
          <th>&nbsp;</th>
          <th>Page Title</th>
          <th>Questions</th>
          <th>Controls</th>
        </tr>
        {% for page in questionnaire.pages %}
          <tr>
            <th>{{ loop.index }}</th>
            <td><a href='/editor/{{ questionnaire.id }}/{{ loop.index }}'>{{ page.title }}</a></td>
            <td>{{ page.questions | length }}</td>
            <td>
              <button data-action="move-page" data-id="{{ loop.index }}" data-movement="-1">&uarr;</button>
              <button data-action="move-page" data-id="{{ loop.index }}" data-movement="1">&darr;</button>
              <button data-action="page-duplicate" data-id="{{ loop.index }}">Duplicate</button>
              <button data-action="page-delete" data-id="{{ loop.index }}">Delete</button>
            </td>
          </tr>
        {% endfor %}
      </table>
      <button data-action="page-create">Create new page</button>
    {% endif %}
  {% endif %}
{% endblock %}
