{% extends "master.twig" %}

{% block head %}
  <script src='/resources/js/editor.js'></script>
{% endblock %}

{% block content %}

  {% if showAll %}

    {# List of questionnaires #}

    {% if questionnaires | length > 0 %}
      <table class="progress">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Pages</th>
          <th>Sections</th>
          <th>Questions</th>
          <th>Controls</th>
        </tr>
        {% for questionnaire in questionnaires %}
        <tr data-id="{{ questionnaire.id }}">
          <th>{{ questionnaire.id }}</th>
          <td><a href='/editor/{{ questionnaire.id }}'>{{ questionnaire.title }}</a></td>
          <td>{{ questionnaire.pages | length }}</td>
          <td>{{ questionnaire.sectionCount }}</td>
          <td>{{ questionnaire.questionCount }}</td>
          <td>
            <button data-action="duplicate" title="Duplicate"><i class="fa fa-files-o"></i></button>
            <button data-action="delete" title="Delete"><i class="fa fa-trash-o"></i></button>
          </td>
        </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>There are currently no questionnaires.</p>
    {% endif %}
    <button data-action="create-questionnaire">Create new questionnaire</button>

  {% else %}

    <input type="hidden" id="questionnaire-id" value="{{ questionnaire.id }}" />

    {% if page %}

      {# Editing a single page in a questionnaire #}

      <div class="editor workspace">
        <input type="hidden" id="page-number" value="{{ pageNumber }}" />
        <table class='progress'>
          <tr><th colspan="2">{{ questionnaire.title }}</th></tr>
          {% for pageRow in questionnaire.pages %}
            <tr>
              {% if loop.index == pageNumber %}
                <td>{{ loop.index }}. <strong>{{ pageRow.title }}</strong></td>
              {% else %}
                <td>{{ loop.index }}. <a href='/editor/{{ questionnaire.id }}/{{ loop.index }}'>{{ pageRow.title }}</td>
              {% endif %}
              <td>{{ pageRow.sections | length }} section{{ pageRow.sections | length == 1 ? '' : 's' }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="2"><a href='/editor/{{ questionnaire.id }}' style='color: maroon'>Back to the list of pages</a></td>
          </tr>
          <tr id="ajax-status" style="display: none;">
            <th colspan="2">saving data...</th>
          </tr>
        </table>
        <div class="section first" style="background: #dfeaea;">
          <input id="update-page-title" class="h2 invisible" placeholder="Page Title" value="{{ page.title }}" /><br>
          <textarea rows="1" id="update-page-intro" class="invisible" placeholder="Intro text that will be displayed at the top of the page. Supports HTML." style="width: 100%;">{{ page.intro }}</textarea>
        </div>
        <br>
        <div id="all-sections">
        {% for section in page.sections %}
          <div class="section" data-id="{{ loop.index0 }}">
            <div class="editor-section-controls">
              <button data-action="duplicate-section" title="Duplicate"><i class="fa fa-files-o"></i></button>
              <button data-action="delete-section" title="Delete"><i class="fa fa-trash-o"></i></button>
                <span class="handle">&nbsp;<i class="fa fa-bars"></i>&nbsp;</span><br>
              <label style="line-height: 3em;" class="help" title="Collapsible sections start collapsed and prompt the user to open them if relevant. Useful for electives.">
                <input data-action="section-collapsible" data-id="{{ loop.index0 }}" type="checkbox" {{ section.collapsible ? 'checked' : '' }}>
                Collapsible
              </label>
            </div>
            <input class="section-title invisible" placeholder="Section Title" value="{{ section.title }}" data-action="update-section-title" data-id="{{ loop.index0 }}" />
            {% for question in section.questions %}
              <div class="fake-question" data-section="{{ loop.parent.loop.index0 }}" data-question="{{ question.id }}">
                <div class="fake-question-title">{{ question.question }} <a data-action="delete-question">✕</a></div>
                <div class="fake-question-answer">
                {% if question.answerType == 'Text' %}
                  <input type="text" disabled tabindex="-1">
                {% elseif question.answerType == 'Dropdown' %}
                  <select tabindex="-1">
                    <option></option>
                    {% for option in question.answerOptions %}
                    <option>{{ option }}</option>
                    {% endfor %}
                  </select>
                {% elseif question.answerType == 'Radio' %}
                  <ul>
                    {% for option in question.answerOptions %}
                    <li>
                      <label>
                        <input type="radio" tabindex="-1" name="question-{{ question.id }}"> {{ option }}
                      </label>
                    </li>
                    {% endfor %}
                  </ul>
                {% endif %}
                </div>
              </div>
            {% endfor %}
            <div class="fake-question">
              <button class="icon" data-action="show-add-question">Add question</button>
            </div>
            <div class="fake-question add-question" style="display: none;">
              <div class="fake-question-title">Add a new question to this section:</div>
              <div class="fake-question-answer">
                <table class="aligned-labels">
                  <tr>
                    <th>Question Text</th>
                    <td><input type="text" placeholder="Question text" required style="width: 300px;" /></td>
                  </tr>
                  <tr>
                    <th>Question Type</th>
                    <td><select>
                    {% for answerType in answerTypes %}
                      <option value="{{ answerType }}">{{ answerType }}</option>
                    {% endfor %}
                  </select></td>
                  </tr>
                  <tr class="answer-options" style="display: none;">
                    <th>Options</th>
                    <td>
                      <ul>
                        <li><input type="text" placeholder="Option text" /> <a data-action="delete-radio-box">✕</a></li>
                        <li><input type="text" class="add-radio-box" data-action="add-radio-box" placeholder="Click to add option"></li>
                      </ul>
                    </td>
                  </tr>
                </table>

                <button data-action="add-question">Add question</button>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
        <button id="add-section">Add a new section</button><br style="clear: both;">
      </div>

    {% else %}

      {# Editing a questionnaires; viewing the list of pages #}

      <div class="editor workspace">
        <div class="section first" style="background: #dfeaea;">
          <input id="update-title" class="h2 invisible" placeholder="Questionnaire Title" value="{{ questionnaire.title }}" /><br>
          <textarea id="update-intro" class="invisible" placeholder="Intro text that will be displayed before the first page of the questionnaire. Supports HTML." style="width: 100%;">{{ questionnaire.intro }}</textarea>
        </div>
      </div>

      {% if questionnaire.pages | length > 0 %}
        <table class="progress sortable" id="page-list">
          <thead>
            <tr>
              <th>&nbsp;</th>
              <th style="min-width: 200px;">Page Title</th>
              <th>Sections</th>
              <th>Questions</th>
              <th colspan="2">Controls</th>
            </tr>
          </thead>
          <tbody>
          {% for page in questionnaire.pages %}
            <tr data-id="{{ loop.index }}">
              <th>{{ loop.index }}</th>
              <td><a href='/editor/{{ questionnaire.id }}/{{ loop.index }}'>{{ page.title }}</a></td>
              <td>{{ page.sections | length }}</td>
              <td>{{ page.questionCount }}</td>
              <td>
                <button data-action="page-duplicate" title="Duplicate"><i class="fa fa-files-o"></i></button>
                <button data-action="page-delete" title="Delete"><i class="fa fa-trash-o"></i></button>
              </td>
              <td class="inverse handle" title="Drag to reorder">
                <i class="fa fa-bars"></i>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>This questionnaire doesn't have any pages yet.</p>
      {% endif %}
      <button data-action="page-create">Create new page</button>
    {% endif %}
  {% endif %}
{% endblock %}
