<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title title %} - {{ software.name }}</title>

    {% if standalone %}
      <link rel="icon" type="image/png" href="{{ standalone.icon }}" />
      <style type="text/css">
        {{ standalone.css | raw }}
      </style>
    {% else %}
      <link rel="icon" type="image/png" href="/resources/img/icon.png" />
      <link rel="stylesheet" type="text/css" href="/resources/css/layout.css" />
      <link rel="stylesheet" type="text/css" href="/resources/css/winter.css" />
    {% endif %}

    {% if not standalone %}
      <script src='/resources/js/jquery-2.1.3.js'></script>
      <script src='/resources/js/jquery.autosize.min.js'></script>
      <script type="text/javascript">
        $(document).ready(function(){
          $('textarea').autosize({append: false});
        });
      </script>
    {% endif %}

    {% block head %}{% endblock %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <!-- Header -->
    <div id="header">
      {% if standalone %}
      <img src="{{ standalone.logo }}" class="logo" border="0" alt="Übertweak Logo" />
      {% else %}
      <a href='/'><img src="/resources/img/logo.png" class="logo" border="0" alt="Übertweak Logo" width="96" height="96" /></a>
      {% endif %}
      <div class="title">
        {{ config.campName }}
        <div class="version">Powered by <strong>{{ software.fullName }}</strong> - {{ software.version }}</div></div>
    </div>

    {% if not standalone %}

      {% if user.LoggedIn %}
      <!-- Menu -->
      <div id="menu">
        <ul>
        {% if user.isLeader %}
          {% for link, title in config.menu %}
            <li><a href="/{{ link }}">{{ title }}</a></li>
          {% endfor %}
        {% endif %}
        <li class="right"><a href='/logout'>Logout</a></li>
        <li class="right"><strong>{{ user.Name }}</strong></li>
        </ul>
      </div>

      <br clear="all">
      {% endif %}

      {% for type, messageGroup in messagebank.messages %}
      <div class="alert alert-{{ type }}">
        <ul class="unstyled nomargin">
          {% for message in messageGroup %}
            <li>{{ message | raw }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    {% endif %}

    <!-- Content -->
    <div id="content">
      <h1>{{ block('title') }}:</h1>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
