{% extends "master.twig" %}

{% block content %}
<div class="workspace">
  <table class='progress'>
    <tr>
      <th colspan='2'>Questionnaire Progress:</th>
    </tr>
    {% for page in questionnaire.pages %}
      <tr>
        <td>{{ loop.index }}. {{ page.title }}</td>
        {% if stage < loop.index %}
          <td style="color: red;">Incomplete</td>
        {% elseif stage == loop.index %}
          <td style="color: orange;">In Progress</td>
        {% else %}
          <td style="color: green;">Completed</td>
        {% endif %}
      </tr>
    {% endfor %}
    {% if user.leader %}
      <tr>
        <td colspan='2'><a href='/questionnaire/{{ questionnaire.id }}/delete'>Delete current progress</a></td>
      </tr>
      <tr>
        <td colspan='2'><a href='/progress/{{ questionnaire.id }}' style='color: maroon;'>Check camper progress</a></td>
      </tr>
    {% endif %}
  </table>

{% if stage == 0 %}
  <div class="section">
    {{ questionnaire.intro | raw | nl2br }}
    <br><br>
    <h3><a href='/questionnaire/{{ questionnaire.id }}/begin'>Begin the Questionnaire!</a></h3>
  </div>
{% elseif stage > questionnaire.pageCount %}
  <div class="section">
    <h3>Your questionnaire has been submitted!</h3>
    <h3>Thank you for all your responses!</h3>
    If you made a mistake you would like to correct, please contact the nearest leader for assistance.
  </div>
{% else %}
  <form action="/questionnaire/{{ questionnaire.id }}" method="POST">
    <input type="hidden" name="stage" value="{{ stage }}" />
    {{ page.intro | raw | nl2br }}

  {% for section in page.sections %}
    <div class="section {{ section.border ? 'fieldset' : '' }}">
      {% if section.border %}
        {% if section.collapsible %}
          <div class="toggle">click to view questions</div>
        {% endif %}
        <h3>{{ section.title }}</h3>
      {% endif %}

      <div class="{{ section.border ? "question-group" : "" }}" style="{{ section.collapsible ? "display: none" : "" }}">
        {% for question in section.questions %}
          <div class='question question-{{ question.answerType | lower }}'>
            {{ question.renderHtml | raw }}
          </div>
        {% endfor %}
      </div>
    </div>
    <br>
  {% endfor %}
      <input type="submit"
             value="Submit your responses and move onto the next section"
             style="font-size: 150%;" />
  </form>
{% endif %}
<br style="clear: both;">
</div>

<script type="text/javascript">
  $(".toggle").click(function (event) {
    event.preventDefault();
    $(this).next().next().toggle();
    if ($(this).next().next().is(":visible")) {
      $(this).text("click to hide questions");
    } else {
      $(this).text("click to view questions");
    }
  });
</script>
{% endblock %}
