<!DOCTYPE html>
<html>
  <head>
    <title>{{ software.name }} Setup</title>

    <link rel="icon" type="image/png" href="../resources/img/icon.png" />

    <link rel="stylesheet" type="text/css" href="../resources/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="../resources/css/winter.css" />

    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8" />
  </head>

  <body id="module">

    <div id="headerContainer">
      <div id="header" style='width: 100%;'>
        <img src="../resources/img/logo.png" class="logo" border="0" alt="Übertweak Logo" />
        <div class="title">
          {{ software.name }} Setup
          <div class="version">
            <strong>{{ software.name }} {{ software.version }}</strong> - {{ software.codename }}
          </div>
        </div>
      </div>
    </div>

    <div id="content">

      <h1>Environment Check:</h1>

      <ul>
          <li>PHP version at least 5.5... {{ checks.php | raw }}</li>
          <li>Config directory writable... {{ checks.config | raw }}</li>
          <li>SQLite available... {{ checks.sqlite | raw }}</li>
      </ul>

      {% if error %}
      <h3>There's an issue with the environment. The problems above will need to be rectified before {{ software }} can be setup.</h3>
      {% else %}
      <h3>Just fill in the camp name and you're good to go!</h3>
      <form method="post">
        <input id="campName" style="width: 200px;" type="text" name="campName" placeholder="&Uuml;bertweak Summer 2015" required>
        <input type="submit">
      </form>
      {% endif %}

    </div>

  </body>
</html>
