<!DOCTYPE html>
<html>
  <head>
    <title>{{ software }} Setup</title>

    <link rel="icon" type="image/png" href="../resources/img/icon.png" />

    <link rel="stylesheet" type="text/css" href="../external/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="../resources/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="../resources/css/winter.css" />

    <script src="../external/jquery-1.7.js"></script>
    <script src="setup.js"></script>

    <meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=utf-8" />
  </head>

  <body id="module">

    <div id="headerContainer">
      <div id="header" style='width: 100%;'>
        <img src="../resources/img/logo.png" class="logo" border="0" alt="Übertweak Logo" />
        <div class="title">
        {{ software }} Setup<br />
        <div class="version">Version {{ version }} {% if codename %}({{ codename }}){% endif %}</strong></div></div>
      </div>
    </div>

    <div id="content">

      <h2>Environment Check:</h2>

      <ul>
          <li>PHP version at least 5.5... {{ checks.php | raw }}</li>
          <li>Config directory writable... {{ checks.config | raw }}</li>
          <li>SQLite available... {{ checks.sqlite | raw }}</li>
      </ul>

      {% if error %}
      <h3>There's an issue with the environment. The problems above will need to be rectified before {{ software }} can be setup.</h3>
      {% else %}
      <h3>Just fill in the camp name and you're good to go!</h3>
      <form method="post">
        <input id="campName" class="span4" type="text" name="campName" placeholder="&Uuml;bertweak Summer 2015" required>
        <input type="submit">
      </form>
      {% endif %}

    </div>

  </body>
</html>
